@keyframes dayNightColors {
    0% { background-color: skyblue; }
   50% { background-color: skyblue; }
   55% { background-color: orange; }
   60% { background-color: red; }
   65% { background-color: midnightblue; }
   80% { background-color: black; }
  100% { background-color: black; }
}

.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: dayNightColors 90s linear 10s infinite alternate both;
}

.sea {
  position: absolute;
  width: 100%;
  bottom: 0;
  fill: #2b65ec;
}

@keyframes boatHullDayNightColors {
  0% { stop-color: #48e; }
  35% { stop-color: #48e; }
  60% { stop-color: #24a;}
  100% { stop-color: #24a;}
}

@keyframes rock {
  from { rotate: calc(-0.5 * var(--rockMagnitude)); }
  to { rotate: calc(0.5 * var(--rockMagnitude)); }
}

.boat {
  position: absolute;
  width: 20dvmin;
  height: 20dvmin;
  translate: -50% -50%;
  left: 50%;
  --rockMagnitude: 5deg;
  animation: rock 2s linear alternate infinite;
}

@keyframes windBlow {
  from { right: 100%; }
  to { right: -110%; }
}

.windParticle {
  position: absolute;
  translate: -100% -50%;
  stroke: #FFF8;
  stroke-linecap: round;
}

@keyframes dayNightFogColors {
  0% { background-color: #BBB; }
 50% { background-color: #BBB; }
 55% { background-color: #999; }
 60% { background-color: #777; }
 65% { background-color: #222; }
 80% { background-color: black; }
100% { background-color: black; }
}

.fog {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: dayNightFogColors 90s linear 10s infinite alternate both;
}