#root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    display: none;
  }
}

.splashModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  animation: fade-out 2s 8s both;

  p {
    margin: 0;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 1.33em;
    color: skyblue;
    filter: drop-shadow(0.05em 0.05em 0 #2b65ec);
  }

  h2 {
    margin-block-start: 0;
  }

  .circle {
    vertical-align: middle;
    border-radius: 50%;
  }
}

@media (prefers-color-scheme: light) {
  .splashModal {
    color: #213547;
    background-color: #ffffff;
  }
}

.frameworkTag {
  position: absolute;
  right: 0;
  width: fit-content;

  text-align: right;
  background-color: #242424DB;
  border-left: 1px solid #444D;
  border-bottom: 1px solid #444D;
  padding: 0.1em 0.5em 0.2em;
  border-radius: 0 0 0 0.6em;

  img {
    height: 0.7lh;
    vertical-align: middle;
    translate: 0 -0.05lh;
    
    @media (prefers-reduced-motion: no-preference) {
      animation: logo-spin infinite 20s linear;
    }
  }
}